<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="#" th:action="@{/voteForBestMovie}" method="post">
    <label> Your Name:
        <input type="text" th:name="voterName" placeholder="Name">
    </label>
    <label>Select Movie:
        <select name="movieId">
            <option th:each="movie : ${movies}" name="movieId" th:value="${movie.id}" th:text="${movie.title}"></option>
        </select>
    </label>
    <button type="submit">Submit</button>
</form>
<a th:href="@{/}">Home</a>
</body>
</html>